<!-- Header Starts -->
<div class="navbar-wrapper ">
  <div class="container">

    <div class="navbar navbar-inverse navbar-fixed-top animated fadeInDown" role="navigation" id="top-nav">
      <div class="container">
        <div class="navbar-header">
          <!-- Logo Starts -->
          <a class="navbar-brand" href="#home">
            <img src="assets/images/logo.png" height="30" alt="logo"/>
          </a>
          <!-- #Logo Ends -->

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="search">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input #searchValue name="username" type="text" class="form-control" placeholder="Enter artist name ...">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </div>

        <!-- Nav Starts -->
        <div class="navbar-collapse  collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a routerLink="/artist">Artist</a>
            </li>
            <li>
              <a routerLink="/playlist">Playlist</a>
            </li>
            <li>
              <a routerLink="/album">Albums</a>
            </li>
            <li>
              <a routerLink="/blogevent">Events & Blog</a>
            </li>
            <li>
              <a routerLink="/contact">Contact</a>
            </li>
          </ul>
        </div>
        <!-- #Nav Ends -->

      </div>
    </div>

  </div>
</div>
<!-- #Header Starts -->

  <div class="homeinfo blockblack">

    <!-- About Starts -->
    <div class="spacer">
      <h3>
        <span class="glyphicon glyphicon-user"></span> About Me</h3>
      <div class="row">
        <div class="col-lg-4 col-sm-4  col-xs-12">
          <img src="assets/images/4.jpg" class="img-responsive" alt="about"/>
        </div>
        <div class="col-lg-5 col-sm-8  col-xs-12">
          <p>We serve our clients through a number of services, including effective web design, web application
            development,
            print design, online marketing and brand development. We serve our clients through a number of services,
            including
            effective webh5 design, web application development, print design, online marketing and brand
            development.</p>
          <blockquote>We serve our clients through a number of services, including effective web design, web application
            development,
            print design, online marketing and brand development.
          </blockquote>
        </div>
        <div class="col-lg-3 visible-lg">
          <div class="fb-like-box" data-href="http://www.facebook.com/thebootstrapthemes" data-colorscheme="dark"
               data-show-faces="true"
               data-header="false" data-stream="false" data-show-border="false" data-width="255"></div>
        </div>
      </div>
    </div>
    <!-- About Ends -->

    <!-- playlist Starts -->
    <div class="spacer">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h3>
            <span class="glyphicon glyphicon-list"></span> Playlist</h3>
          <iframe width="100%" height="600" scrolling="no" frameborder="no"
                  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/24314082&amp;theme_color=000000&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=false"></iframe>
        </div>
      </div>
    </div>
    <!-- #playlist Ends -->

  </div>
