<!-- Header Starts -->
<div class="navbar-wrapper ">
  <div class="container">

    <div class="navbar navbar-inverse navbar-fixed-top animated fadeInDown" role="navigation" id="top-nav">
      <div class="container">
        <div class="navbar-header">
          <!-- Logo Starts -->
          <a class="navbar-brand" routerLink="/search">
            <img src="assets/images/logo.png" height="30" alt="logo"/>
          </a>
          <!-- #Logo Ends -->

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="search">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input #searchValue name="username" type="text" class="form-control" placeholder="Enter artist name ...">
            </div>
            <button type="button" class="btn btn-default" (click)="loadArtists(searchValue.value)">Search</button>
          </form>
        </div>

        <!-- Nav Starts -->
        <div class="navbar-collapse  collapse">
          <ul class="nav navbar-nav navbar-right">
            <li routerLinkActive="active">
              <a routerLink="/artist">Artist</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/playlist">Playlist</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/album">Albums</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/blogevent">Events & Blog</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/contact">Contact</a>
            </li>
          </ul>
        </div>
        <!-- #Nav Ends -->

      </div>
    </div>

  </div>
</div>
<!-- #Header Starts -->

  <div class="homeinfo blockblack">

    <!-- About Starts -->
    <div class="spacer" *ngIf="artist">
      <h3>
        <span class="glyphicon glyphicon-user"></span> About me</h3>
      <div class="row">
        <div class=" avatar col-lg-5 col-sm-4  col-xs-12" *ngIf="artist.images.length > 0 else defaultImage">
          <img [src]="artist.images[0].url" alt="{{ artist.name }}"  class="img-thumbnail"/>
        </div>

        <ng-template #defaultImage>
          <div class=" avatar col-lg-5 col-sm-4  col-xs-12">
            <img src = "../../assets/images/3.jpg"  alt="{{ artist.name }}"  class="img-thumbnail"/>
          </div>
        </ng-template>

        <div class="col-lg-7 col-sm-8  col-xs-12">
          <blockquote>{{ artist.name }}</blockquote>
          <p>
            <i class="glyphicon glyphicon-play-circle"></i>
            <a href=" {{ artist.external_urls.spotify }}" target="_blank">View Spotify</a><br/><br/>

            <i class="glyphicon glyphicon-play-circle"></i> Genres:
            <span class="genres" *ngIf="artist.genres">
              <span class="label label-success" *ngFor="let genre of artist.genres">{{ genre }}</span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <!-- About Ends -->

    <!-- latest release starts-->
    <div id="album" class="releases spacer">
      <h3>
        <span class="glyphicon glyphicon-music"></span> Album Releases
      </h3>
      <div class="row">
        <div class="col-sm-3 col-xs-12" *ngFor="let album of albums; let i = index">
          <div class="album">
            <img [src]=" album.images[1].url" alt="Image" class="img-responsive" alt="music theme" />
            <div class="albumdetail">
              <h5>{{ album.name }}</h5>
              <a [routerLink]="['/album/' + album.id]" class="listen" data-toggle="modal" data-target="#albumdetail">
                <span class="glyphicon glyphicon-headphones"></span> Listen album</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- latest release ends-->

  </div>
