<!--&lt;!&ndash; Header Starts &ndash;&gt;-->
<!--<div class="navbar-wrapper ">-->
  <!--<div class="container">-->

    <!--<div class="navbar navbar-inverse navbar-fixed-top animated fadeInDown" role="navigation" id="top-nav">-->
      <!--<div class="container">-->
        <!--<div class="navbar-header">-->
          <!--&lt;!&ndash; Logo Starts &ndash;&gt;-->
          <!--<a class="navbar-brand" href="#home">-->
            <!--<img src="assets/images/logo.png" height="30" alt="logo"/>-->
          <!--</a>-->
          <!--&lt;!&ndash; #Logo Ends &ndash;&gt;-->

          <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
          <!--</button>-->
        <!--</div>-->

        <!--<div class="search">-->
          <!--<form class="navbar-form navbar-left" role="search">-->
            <!--<div class="form-group">-->
              <!--<input #searchValue name="username" type="text" class="form-control" placeholder="Enter artist name ...">-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-default">Search</button>-->
          <!--</form>-->
        <!--</div>-->

        <!--&lt;!&ndash; Nav Starts &ndash;&gt;-->
        <!--<div class="navbar-collapse  collapse">-->
          <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li routerLinkActive="active">-->
              <!--<a routerLink="/artist">Artist</a>-->
            <!--</li>-->
            <!--<li routerLinkActive="active">-->
              <!--<a routerLink="/playlist">Playlist</a>-->
            <!--</li>-->
            <!--<li routerLinkActive="active">-->
              <!--<a routerLink="/album">Albums</a>-->
            <!--</li>-->
            <!--<li routerLinkActive="active">-->
              <!--<a routerLink="/blogevent">Events & Blog</a>-->
            <!--</li>-->
            <!--<li routerLinkActive="active">-->
              <!--<a routerLink="/contact">Contact</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; #Nav Ends &ndash;&gt;-->

      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; #Header Starts &ndash;&gt;-->


<!--*********************************************-->
<app-nav></app-nav>

<!--Contact Starts-->
<div id="contact" class="spacer">
  <div class="contactform center">
    <h3>
      <span class="glyphicon glyphicon-envelope"></span> Contact</h3>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 ">
        <h4>Get in touch or
          <br>
          <b>Just say Hello!</b>
        </h4>
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <textarea rows="5" placeholder="Message"></textarea>
        <button class="btn btn-warning bgcolor">Send</button>
      </div>
    </div>

    <!-- map -->
    <div class="map clearfix">
      <div class="fb-like-box" data-href="https://www.facebook.com/thebootstrapthemes" data-width="100%" data-colorscheme="light"
           data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
    </div>
    <!-- map -->

  </div>
  <!--Contact Ends-->
</div>
