<!--&lt;!&ndash; Header Starts &ndash;&gt;-->
<!--<div class="navbar-wrapper ">-->
  <!--<div class="container">-->

    <!--<div class="navbar navbar-inverse navbar-fixed-top animated fadeInDown" role="navigation" id="top-nav">-->
      <!--<div class="container">-->
        <!--<div class="navbar-header">-->
          <!--&lt;!&ndash; Logo Starts &ndash;&gt;-->
          <!--<a class="navbar-brand" routerLink="/search">-->
            <!--<img src="assets/images/logo.png" height="30" alt="logo"/>-->
          <!--</a>-->
          <!--&lt;!&ndash; #Logo Ends &ndash;&gt;-->

          <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
          <!--</button>-->
        <!--</div>-->

        <!--<div class="search">-->
          <!--<form class="navbar-form navbar-left" role="search">-->
            <!--<div class="form-group">-->
              <!--<input #searchValue name="username" type="text" class="form-control" placeholder="Enter artist name ...">-->
            <!--</div>-->
            <!--<button type="button" class="btn btn-default" (click)="loadArtists(searchValue.value)">Search</button>-->
          <!--</form>-->
        <!--</div>-->

        <!--&lt;!&ndash; Nav Starts &ndash;&gt;-->
        <!--<div class="navbar-collapse  collapse">-->
          <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li routerLinkActive="active">-->
              <!--<a routerLink="/artist">Artist</a>-->
            <!--</li>-->
            <!--<li routerLinkActive="active">-->
              <!--<a routerLink="/playlist">Playlist</a>-->
            <!--</li>-->
            <!--<li routerLinkActive="active">-->
              <!--<a routerLink="/album">Albums</a>-->
            <!--</li>-->
            <!--<li routerLinkActive="active">-->
              <!--<a routerLink="/blogevent">Events & Blog</a>-->
            <!--</li>-->
            <!--<li routerLinkActive="active">-->
              <!--<a routerLink="/contact">Contact</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; #Nav Ends &ndash;&gt;-->

      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; #Header Starts &ndash;&gt;-->


<!--****************************************-->
<app-nav (artist)="keySearch($event)"></app-nav>

<!--<h1 style="margin-top: 300px">SEARCH</h1>-->

<div class="container overlay blockblack">
  <!-- home banner starts -->
  <div id="home" class="homeinfo" *ngIf="artists">
    <div class="row" *ngFor="let artist of artists">
      <div class="col-sm-3 col-xs-12">
        <div class="artist" *ngIf="artist.images.length > 0; else defaultImage">
          <img [src] = "artist.images[1].url" class="media-object img-circle animated fadeInRightBig" alt="dj" />
        </div>

        <!--ng-template-->
        <ng-template #defaultImage>
          <div class="artist">
            <img src = "../../assets/images/3.jpg" class="media-object img-circle animated fadeInRightBig" alt="dj" />
          </div>
        </ng-template>
        <!--ng-template-->

      </div>
      <div class="col-sm-9 col-xs-12">
        <div class="fronttext">
          <h2 class="  animated fadeInUpBig">
            <!--<span class="glyphicon glyphicon-headphones"></span> {{ artist.name }} -->
            <span class="glyphicon glyphicon-headphones"></span>
            <a [routerLink]="['/artist/' + artist.id]">{{ artist.name }}</a>
          </h2>

          <br>
          <span class="animated fadeInUpBig label label-success">{{artist.genres[0]}}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- home banner ends -->
</div>
