
<!-- Header Starts -->
<div class="navbar-wrapper ">
  <div class="container">

    <div class="navbar navbar-inverse navbar-fixed-top animated fadeInDown" role="navigation" id="top-nav">
      <div class="container">
        <div class="navbar-header">
          <!-- Logo Starts -->
          <a class="navbar-brand" href="#home">
            <img src="assets/images/logo.png" height="30" alt="logo"/>
          </a>
          <!-- #Logo Ends -->

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="search">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input #searchValue name="username" type="text" class="form-control" placeholder="Enter artist name ...">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </div>

        <!-- Nav Starts -->
        <div class="navbar-collapse  collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a routerLink="/artist">Artist</a>
            </li>
            <li>
              <a routerLink="/playlist">Playlist</a>
            </li>
            <li>
              <a routerLink="/album">Albums</a>
            </li>
            <li>
              <a routerLink="/blogevent">Events & Blog</a>
            </li>
            <li>
              <a routerLink="/contact">Contact</a>
            </li>
          </ul>
        </div>
        <!-- #Nav Ends -->

      </div>
    </div>

  </div>
</div>
<!-- #Header Starts -->

<div class="container overlay blockblack">
  <!-- home banner starts -->
  <div id="home" class="homeinfo">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="fronttext">
          <h2 class="bgcolor  animated fadeInUpBig">
            <span class="glyphicon glyphicon-headphones"></span> DJ Kranks</h2>
          <br>
          <p class=" animated fadeInUp">Best DJ in town. There are other and natural causes tending toward a diminution of population, but nothing contributes
            so greatly to this end as the fact that no male or female Martian is ever voluntarily without a weapon of destruction.</p>
        </div>
      </div>

      <div class="col-sm-5 col-xs-12 col-sm-offset-1">
        <div class="player">
          <img src="assets/images/dj.png" class="graphics hidden-xs  animated fadeInRightBig" alt="dj" />
          <iframe width="100%" height="170" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/66392700&amp;color=f2ab00&amp;theme_color=000000&amp;auto_play=true&amp;hide_related=true&amp;show_artwork=false"></iframe>
        </div>
      </div>

    </div>
  </div>
  <!-- home banner ends -->
</div>
