/*playlist*/
.playlist {
  margin: 60px 0px;
}
/*playlist*/


/*avatar*/
.avatar img{
  margin-left: 50px;
}
/*avatar*/


/*content*/
.content {
  margin-top: 10px;
}
.content p, small {
  font-size: 18px;
}
/*content*/


/*item track*/
.item{
  border-bottom: 1px solid #403c3c;
  margin-left: 80px;
}
.item h4{
  color: #f2ab00;
}
.item img{
  width: 100px;
  height: 100px;
  margin: 20px auto;
}
.item .title{
  margin-top: 25px;
}
.item:last-child{
  border-bottom: none;
}
/*item track*/


/*title of track*/
.title h5{
  font-size: 25px;
  margin-top: 5px;
}
.title audio{
  width: 100%;
}
h5.title {
  font-size: 40px;
}
/*title of track*/


/*album HOT*/
.img-responsive{
  margin: auto;
  width: 300px;
  height: 300px;
}
.album{
  height: 420px;
}
.albumdetail .listen{
  position: absolute;
  bottom: 5px;
}

