<app-nav (artist)="keySearch($event)" ></app-nav>

<!-- playlist Starts -->
<div class="spacer blockblack" *ngIf="album">
  <div class="row playlist">
    <div class="col-md-12 col-xs-12">
      <h3>
        <span class="glyphicon glyphicon-list"></span> Playlist</h3>

      <div class="row">
        <div class="col-xs-12 col-sm-3 col-lg-4 avatar">
          <img src="{{album.images[1].url}}" class="img-responsive" alt="music theme" />
        </div>
        <div class="col-xs-12  col-sm-6 col-lg-5 ">
          <h5 class="title">
            <a href="#" data-toggle="modal">{{ album.name | capitalize }}</a>
          </h5>
          <div class="content">
            <p>{{ album.label | capitalize}}</p>
            <small> Date: {{ album.release_date }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 item" *ngFor="let track of album.tracks.items">
      <a class="col-xs-12 col-sm-3 col-lg-4">
        <img src="../../assets/images/disk.png" class="img-responsive" alt="music theme" />
      </a>
      <div class="title col-xs-12 col-sm-9  col-lg-8">
        <h4>{{ track.name | capitalize}}</h4>
        <audio src="{{track.preview_url}}" controls>
          Your browser does not support the audio element.
        </audio>
      </div>
    </div>
  </div>
</div>
<!-- #playlist Ends -->
